# -------------------------------
# Core Dependencies for ML/MLOps
# -------------------------------

# Manage environment variables securely (API keys, DB creds, etc.)
python-dotenv

# Data wrangling & preprocessing
pandas
numpy
xgboost

# MongoDB client (for storing data, logs, or model metadata)
pymongo[srv]
certifi
awscli 

# Machine Learning
scikit-learn

# MLOps Tools
mlflow
PyYAML
dagshub

# API Layer (serving ML models via REST APIs)
fastapi
uvicorn
python-multipart

# Serialization
dill

# Excel support for dataset uploads
openpyxl
dvc
dvc[gdrive]
mlflow

# Local Project Setup - MUST BE LAST
-e .
