# -------------------------------
# Core Dependencies for ML/MLOps
# -------------------------------

# Manage environment variables securely (API keys, DB creds, etc.)
python-dotenv

# Data wrangling & preprocessing
pandas
numpy
xgboost

# MongoDB client (for storing data, logs, or model metadata)
pymongo[srv]
certifi
awscli 

# Machine Learning
scikit-learn

# MLOps Tools
mlflow
PyYAML
dagshub

# API Layer (serving ML models via REST APIs)
fastapi
uvicorn
python-multipart

# Serialization
dill

# Excel support for dataset uploads
openpyxl
dvc
dvc[gdrive]
mlflow
dvc[s3]

fastapi==0.95.2
uvicorn[standard]==0.22.0
python-dotenv==1.2.1
pydantic==1.10.12
motor==3.7.1
google-generativeai==0.8.5
httpx==0.24.1

PyMuPDF

reportlab
# Local Project Setup - MUST BE LAST
-e .
